<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo 12</title>
    <link rel="stylesheet" href="output.css">

    <!-- CDN Icone online link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <section class="w-3/4 pt-24 m-auto flex justify-between ">
        <div class="pr-2">
            <p class="text-blue-600 font-semibold text-sm mb-2">Produce faster</p>
            <h1 class="text-black text-3xl font-bold">An Enterprise API</h1>
            <p class="text-sm text-gray-500 leading-6 mt-5 mb-8">We've built an API that allows you to scale laboriosam
                pariatur incidunt your podcast production workflow.</p>

            <!-- 1st Start hear -->
            <div class="flex pl-1 mb-8">
                <p><i class="fa-solid fa-layer-group text-blue-600 text-sm mr-3"></i></p>
                <p class="text-sm text-gray-500 "><span class="text-black font-semibold">Template driven</span> Inspired
                    by Sendgrid, Mailchimp, and Postmark, we allow you to create and apply
                    templated content to your media.</p>
            </div>
            <!-- 1st End hear -->

            <!-- 2nd Start hear -->
            <div class="flex pl-1 mb-8">
                <p><i class="fa-solid fa-cloud-arrow-up text-blue-600 text-sm mr-3"></i></p>
                <p class="text-sm text-gray-500 "><span class="text-black font-semibold">Simple, REST</span> A simple
                    REST API that allows you to create, generate, and manage your content.</p>
            </div>
            <!-- 2nd End hear -->

            <!-- 3rd Start hear -->
            <div class="flex pl-1 mb-8">
                <p><i class="fa-solid fa-screwdriver-wrench text-blue-600 text-sm mr-3"></i></p>
                <p class="text-sm text-gray-500  "><span class="text-black font-semibold">Developer friendly</span>
                    Documented and easy to use, we make it easy to integrate with your existing workflow.</p>
            </div>
            <!-- 3rd End hear -->

            <!-- Button Start hear -->
            <div>
                <a href=""
                    class="bg-blue-500 hover:bg-orange-500 text-white rounded py-2 px-4 text-xs font-medium mr-4">Start
                    for free</a>
                <a href="" class="text-xs font-semibold">Schedule a demo <i class="fa-solid fa-arrow-right text-xs"></i></a>
            </div>
            <!-- Button End hear -->

        </div>

        <!-- Image Start hear -->
        <div class="h-full">
            <img src="./assets/d-12.jpeg" alt="" class="object-cover rounded-md">
        </div>
        <!-- Image End hear -->
    </section>

</body>

</html>