<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <title>demo 10</title>
</head>

<body>

<section class="h-screen relative ">
  <div class="absolute inset-0">
    <img src="./assets/vijay.jpg" alt="Background Image" class="object-cover object-center w-full h-full" >
    <div class="absolute inset-0 bg-black opacity-50"></div>
  </div>

<div class="relative h-full flex flex-col items-center justify-center ">
  <div class="text-white text-4xl font-extrabold">Welcome to Our Awesome Website</div>
  <div class="my-5  text-sm text-white">Discover amazing features and services that await you.</div>
  <button class="bg-yellow-400 text-sm text-black py-2 px-5 rounded-3xl font-medium hover:bg-yellow-600">Get Started</button>
</div>
</section>
</body>

</html>