<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <title>demo 5</title>
</head>

<body class="bg-yellow-50 justify-center text-center h-screen flex items-center">
  <div class="container mx-auto p-4">
    <div class="grid grid-cols-3 md:grid-cols-3 gap-6">

      <!-- Card 1   -->
      <div class="relative bg-white shadow-md rounded-lg overflow-hidden ml-20">
        <img class="w-full h-48 object-cover  hover:brightness-110" src="./assets/resto1.jpeg" alt="">
        <div class="p-4  ">
          <div class=" flex items-center justify-between text-sm text-gray-600">
            <span class="bg-blue-600 text-white rounded-[100%] py-1 px-3 absolute
            mb-[355px] ml-[240px] hover:text-blue-500 hover:bg-white">
              <h1>27</h1>
              <h1>May</h1>
            </span>

            <span class="bg-blue-600 text-white py-1 px-3 absolute
            mb-[60px] ml-[-16px] hover:text-blue-500 hover:bg-white">Photo</span>
          </div>
          <h2 class="mt-2 text-lg font-bold text-left ">Best View in Newyork City</h2>
          <p class="text-gray-600 text-left">The city that never sleep</p>
          <div class="mt-10 text-gray-500 text-sm text-left ">
            <span>&#X1F558; 6 mins ago</span>
          </div>
        </div>
      </div>

      <!-- card-2 -->
      <div class="relative bg-white shadow-md rounded-lg overflow-hidden mx-10">
        <img class="w-full h-48 object-cover hover:brightness-110" src="./assets/resto2.jpeg" alt="">
        <div class="p-4  ">
          <div class=" flex items-center justify-between text-sm text-gray-600">
            <span class="bg-blue-600 text-white rounded-[100%] py-1 px-3 absolute
            mb-[355px] ml-[240px] hover:text-blue-500 hover:bg-white">
              <h1>20</h1>
              <h1>May</h1>
            </span>

            <span class="bg-blue-600 text-white py-1 px-3 absolute
            mb-[60px] ml-[-16px] hover:text-blue-500 hover:bg-white">Photo</span>
          </div>
          <h2 class="mt-2 text-lg font-bold text-left ">Best Pizza in Town</h2>
          <p class="text-gray-600 text-left">The collection of best pizza images in Newyork city</p>
          <div class="mt-10 text-gray-500 text-sm text-left ">
            <span>&#X1F558; 3 mins read</span>
          </div>
        </div>
      </div>

      <!-- Card 3   -->
      <div class="relative bg-white shadow-md rounded-lg overflow-hidden mr-20">
        <img class="w-full h-48 object-cover hover:brightness-110" src="./assets/resto3.jpeg" alt="">
        <div class="p-4  ">
          <div class=" flex items-center justify-between text-sm text-gray-600">
            <span class="bg-blue-600 text-white rounded-[100%] py-1 px-3 absolute
            mb-[355px] ml-[240px] hover:text-blue-500 hover:bg-white">
              <h1>12</h1>
              <h1>May</h1>
            </span>

            <span class="bg-blue-600 text-white py-1 px-3 absolute
            mb-[60px] ml-[-16px] hover:text-blue-500 hover:bg-white">Photo</span>
          </div>
          <h2 class="mt-2 text-lg font-bold text-left ">Best Salad Images ever</h2>
          <p class="text-gray-600 text-left">The collection of best salad of town in pictures</p>
          <div class="mt-10 text-gray-500 text-sm text-left ">
            <span>&#X1F558; 6 mins read</span>
          </div>
        </div>
      </div>


    </div>
  </div>


  </div>

</body>

</html>