<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <title>demo 15</title>
  <!-- online icone link frome google -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>


<body>
<div class="text-center mt-5">
    <h1 class="font-bold text-4xl mb-4">Responsive Product card grid</h1>
    <h1 class="text-3xl">Tailwind CSS</h1>
</div>

<!--  Grid Section - Starts Here  -->
<section class="bg-yellow-200 h-screen">

    <!-- Product card 1 - Starts Here -->
    <div class="border-2 border-red-500 bg-white w-72  h-96 rounded-xl">
        <img class="h-80 w-72  object-cover rounded-t-xl" src="./assets/15-1.avif" alt="">
        <span class="">Brand</span>
        <h3 class="">Product Name</h3>
        <div class="flex items-center">
            <p class="text-lg font-semibold text-black cursor-auto my-3">$149</p>
            <del><p class="text-sm text-gray-600  cursor-automl-2">$199</p></del>
        </div>
        <div class="ml-auto h-20 w-20">
            <i class="fa-solid fa-cart-shopping"></i>
        </div>
    </div>
    <!-- Product card 1 - End Here -->

</section>
<!--  Grid Section - End Here  -->

</body>

</html>