<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo 6</title>
    <link rel="stylesheet" href="output.css">

    <!-- CDN online icone Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body class="m-auto">
    <!-- Header Section Start Hear -->
    <section class="flex justify-between px-12 py-4 m-auto">
        <div class="pl-8">Acme Inc.</div>
        <div>
            <a class="text-sm text-gray-600 hover:text-orange-500 hover:font-bold" href="">About Us</a>
            <a class="text-sm text-gray-600 hover:text-orange-500 hover:font-bold px-4" href="">Treatments</a>
            <a class="text-sm text-gray-600 hover:text-orange-500 hover:font-bold px-4" href="">Blog</a>
            <a class="text-sm text-gray-600 hover:text-orange-500 hover:font-bold pr-8" href="">Conatct Us</a>
        </div>
    </section>
    <!-- Header Section End Hear -->

    <!-- Banner Section Start Hear -->
    <!-- 1 Col -->
    <section class="w-3/4 flex justify-between m-auto pt-24">
        <div class="w-2/4">
            <p class="text-sm font-semibold text-blue-600 mp-3 ">Everything you need</p>
            <h1 class="text-black font-bold text-3xl">All-in-one platform</h1>
            <p class=" text-sm text-gray-500 mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit architecto
                adipisci in illum libero deserunt eos amet accusamus debitis.</p>
        </div>

        <!-- 2nd Col Start -->
        <div class="pl-9">
            <div class="flex mb-10">
                <i class="fa-solid fa-check mr-5 mt-1 text-blue-500"></i>
                <div>
                    <p class="text-black font-semibold ">Invite Team members</p>
                    <p class="text-sm text-gray-500 mt-2">Return repellat labore necessitatibus reprehenderit molestiae
                        prasentium.</p>
                </div>
            </div>

            <div class="flex mb-10">
                <i class="fa-solid fa-check mr-5 mt-1 text-blue-500"></i>
                <div>
                    <p class="text-black font-semibold ">Keyboard shortcuts</p>
                    <p class="text-sm text-gray-500 mt-2">In sit qui aliquid deleniti et. Ad nobis sunt omnis. Quo sapiente dicta laboriosam.</p>
                </div>
            </div>

            <div class="flex mb-10">
                <i class="fa-solid fa-check mr-5 mt-1 text-blue-500"></i>
                <div>
                    <p class="text-black font-semibold ">Notifications</p>
                    <p class="text-sm text-gray-500 mt-2">Quos inventore harum enim nesciunt. Aut repellat rerum omnis adipisci.</p>
                </div>
            </div>

            <div class="flex mb-10">
                <i class="fa-solid fa-check mr-5 mt-1 text-blue-500"></i>
                <div>
                    <p class="text-black font-semibold ">Reporting</p>
                    <p class="text-sm text-gray-500 mt-2">Eos laudantium repellat sed architecto earum unde incidunt. Illum sit dolores voluptatem.</p>
                </div>
            </div>
        </div>
        <!-- 2nd Col End -->

                <!-- 3rd Col Start -->
                <div class="pl-9">
                    <div class="flex mb-10">
                        <i class="fa-solid fa-check mr-5 mt-1 text-blue-500"></i>
                        <div>
                            <p class="text-black font-semibold ">List view</p>
                            <p class="text-sm text-gray-500 mt-2">Corporis asperiores ea nulla temporibus asperiores non tempore assumenda aut.</p>
                        </div>
                    </div>
        
                    <div class="flex mb-10">
                        <i class="fa-solid fa-check mr-5 mt-1 text-blue-500"></i>
                        <div>
                            <p class="text-black font-semibold ">Calendars</p>
                            <p class="text-sm text-gray-500 mt-2">Sed rerum sunt dignissimos ullam. Iusto iure occaecati voluptate eligendi fugiat sequi.</p>
                        </div>
                    </div>
        
                    <div class="flex mb-10">
                        <i class="fa-solid fa-check mr-5 mt-1 text-blue-500"></i>
                        <div>
                            <p class="text-black font-semibold ">Boards</p>
                            <p class="text-sm text-gray-500 mt-2">Quae sit sunt excepturi fugit veniam voluptatem ipsum commodi.</p>
                        </div>
                    </div>
        
                    <div class="flex mb-10">
                        <i class="fa-solid fa-check mr-5 mt-1 text-blue-500"></i>
                        <div>
                            <p class="text-black font-semibold ">Mobile app</p>
                            <p class="text-sm text-gray-500 mt-2">Nulla est saepe accusamus nostrum est est. Fugit voluptatum omnis quidem voluptatem.</p>
                        </div>
                    </div>
                </div>
                <!-- 3rd Col End -->
    </section>
    <!-- Banner Section End Hear -->


</body>

</html>