<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <title>demo 14</title>

  <!-- online icone link frome google -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>

<div>

<!-- image div -->
<div></div>


<!-- product div start Hear -->
<div class="ml-60 mt-52">
    <h1 class=" text-black text-3xl">Product Name</h1>
    <p class="text-gray-600 text-sm ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est a aspernatur consectetur dicta ex tempora?</p>
    <div class="inline-block">
        <h3 class="inline-block font-bold text-xl">price:</h3>
        <h3 class="inline-block">$29.99</h3>
    </div>
    <div class="inline-block ml-5">
        <h3 class="inline-block font-bold text-xl">Availability:</h3>
        <h3 class="inline-block">In Stock</h3>
    </div>
    <!-- color -->
    <div>
        <h2 class="font-bold text-xl">Select Color:</h2>
        <div>
            <i class="fa-solid fa-circle text-black"></i>
            <i class="fa-solid fa-circle text-red-600"></i>
            <i class="fa-solid fa-circle text-blue-700"></i>
            <i class="fa-solid fa-circle text-yellow-400"></i>
        </div>
    </div>

    <!-- Size -->
    <div>
        <h2 class="font-bold text-xl">Select Size:</h2>
        <div>
            <button class="text-black font-bold text-sm bg-gray-400 rounded-full">S</button>
            <button class="text-black font-bold text-sm bg-gray-400 rounded-full">M</button>
            <button class="text-black font-bold text-sm bg-gray-400 rounded-full">L</button>
            <button class="text-black font-bold text-sm bg-gray-400 rounded-full">XL</button>
            <button class="text-black font-bold text-sm bg-gray-400 rounded-full">XXL</button>
        </div>
    </div>

</div>
<!-- product div start Hear -->

</div>


</body>
</html>