<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <title>demo 4</title>
</head>

<body class="flex flex-col justify-center  items-center space-x-4 h-screen ">
    <div class="flex justify-center mb-4">
        <img class="w-10 h-10 rounded-full border-2 border-white -ml-4 " src="./assets/12.jpg" alt="">
        <img class="w-10 h-10 rounded-full border-2 border-white -ml-4 " src="./assets/45.jpg" alt="">
        <img class="w-10 h-10 rounded-full border-2 border-white -ml-4 " src="./assets/60.jpg" alt="">
        <img class="w-10 h-10 rounded-full border-2 border-white -ml-4 " src="./assets/4.jpg" alt="">
        <img class="w-10 h-10 rounded-full border-2 border-white -ml-4 " src="./assets/34.jpg" alt="">
    </div>

<h1 class="text-3xl font-bold mb-2 ">Get Started now</h1>
<pre><p class="text-gray-600 mb-6 ">Be part of millions people around the world using tailus in modern User 
                              Interfaces</p></pre>
<div class="flex justify-center space-x-4">
    <button class="bg-teal-500 text-white px-6 py-2 rounded-full shadow-md hover:bg-teal-700">Get Started</button>
    <button class="bg-teal-100 text-teal-700 px-6 py-2 rounded-full shadow-md hover:bg-teal-200 ">More About</button>
</div>
</body>

</html>