<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <title>demo 13</title>
</head>

<body>
  <!-- Header Start -->
  <section class="py-10 w-9/12 m-auto">
    <div class="flex justify-between text-black">
      <div class="self-center"><p class="font-black text-black text-2xl hover:text-orange-500">WATCH.ME</p></div>
      <div class="flex items-center ">
        <nav class="font-sans text-gray-800 text-lg items-center ">
        <a class="py-2 px-6 hover:text-orange-500" href="#">HOME</a>
        <a class="py-2 px-6 hover:text-orange-500" href="#">WATCH</a>
        <a class="py-2 px-6 hover:text-orange-500" href="#">PRODUCT</a>
        <a class="py-2 px-6 hover:text-orange-500" href="#">CONTACT</a>
        <a class="py-2 px-6 hover:text-orange-500" href="#">CAREER</a>
      </nav>
      </div>
    </div>
  </section>
  <!-- Header End -->

  <!-- Banner Start -->
  <section class=" m-auto w-9/12">
    <div class="flex items-center pt-24">
      <div class="w-3/5">
        <p class="bg-black h-2 w-20 mb-12"></p>
        <h1 class="text-black text-7xl font-black">BE ON</h1>
        <p class="text-black text-6xl font-extrabold">TIME</p>
        <p class="text-gray-600 text-sm pr-37 mt-3">Dimension of reality that makes change possible and understandable. An indefinite and homogeneous environment which natural events and human existence take place.</p>

        <!-- button -->
        <div class="m-10 text-xs ">
          <a class="py-2 p-4 border-2 border-solid border-pink-500 bg-pink-500 text-white rounded-lg  hover:bg-white hover:text-black " href="">GET STARTED</a>
          <a class="py-2 p-4 border-2 border-solid border-pink-500 text-pink-500 rounded-lg hover:bg-pink-500 hover:text-white  " href="">READ MORE</a>
        </div>
      </div>

      <!-- product image -->
      <div>
        <img class=" m-auto object-contain w-3/5 hover:transform hover:scale-110" src="./assets/13-1.png" alt="error !!!">
      </div>
    </div>
  </section>
  <!-- Banner End -->


</body>

</html>