<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    <title>demo 17</title>
</head>

<body class="bg-gray-400 h-screen flex items-center justify-center">
    <h1 class="font-semibold text-left mb-2">Trusted by</h1>
    <div class="flex -space-x-2 overflow-hidden">
        <img class="inline-block h-10 w-10 rounded-full border-2 border-gray-200 hover:scale-105 transform duration-100"
            src="./assets/17-1.jpg" alt="">
        <img class="inline-block h-10 w-10 rounded-full border-2 border-gray-200 hover:scale-105 transform duration-100"
            src="./assets/17-2.jpg" alt="">
        <img class="inline-block h-10 w-10 rounded-full border-2 border-gray-200 hover:scale-105 transform duration-100"
            src="./assets/17-3.jpg" alt="">
        <img class="inline-block h-10 w-10 rounded-full border-2 border-gray-200 hover:scale-105 transform duration-100"
            src="./assets/17-4.jpg" alt="">
        <img class="inline-block h-10 w-10 rounded-full border-2 border-gray-200 hover:scale-105 transform duration-100"
            src="./assets/17-5.jpg" alt="">
        <img class="inline-block h-10 w-10 rounded-full border-2 border-gray-200 hover:scale-105 transform duration-100"
            src="./assets/17-6.jpg" alt="">
    </div>
    <h2 class="text-right ml-6">Join 5,000+ other members</h2>


</body>

</html>