<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <title>demo 11</title>
</head>

<body>
  <section class="flex justify-center items-center w-full h-96 bg-blue-500">
    <div class="flex gap-10  items-center">
      <!-- Information div -->
      <div class=" p-4">
        <h1 class="text-white text-4xl font-semibold mb-2">Best Coffee in Town</h1>
        <p class="text-white text-sm mb-4">From hand-picked farms to your cup, we source the finest beans and roast them to perfection.</p>
        
        <!-- Shop now button -->
            <button class="bg-white text-indigo-700 rounded-full px-4 py-2 hover:bg-orange-400 hover:text-white">Shop now</button>
      </div>

      <!-- Images div -->
      <div class="">
        <!-- <img class="h-72 w-[400px] object-cover rounded-md hover:scale-105" src="./assets/demo11.jpeg" alt="Coffee Image"> -->
        <img class="h-72 w-[400px] object-cover rounded-md hover:scale-105" src="./assets/cc3.jpg" alt="Coffee Image">
      </div>
    </div>
  </section>

  <!-- Products Section -->
  <section class="bg-white w-full p-16">
    <div class=" mx-auto grid grid-cols-3 grid-rows-2  gap-7 justify-around">

      <!-- Product card 1 -->
      <div class="border-2 border-gray-200 bg-white w-full rounded-xl">
        <!-- <img class="h-48 w-full object-cover rounded-t-xl mb-5" src="./assets/demo11-2.jpeg" alt=""> -->
        <img class="h-48 w-full object-cover rounded-t-xl mb-5" src="./assets/c1.jpg" alt="">
        <h3 class="text-xl font-semibold pl-3">Espresso Edge</h3>
        <p class="mt-4 text-gray-600 pl-3">Our most popular blend, featuring beans from a single farm in Ethiopia. Notes of chocolate, berries, and citrus</p>
        <div class="flex items-center justify-between mt-6 mb-5 px-3">
          <span class="font-bold text-lg">$14.99</span>
          <button class="bg-blue-600 text-white py-2 px-4 rounded-full hover:bg-orange-500 transition-colors duration-300">Add to cart</button>
        </div>
      </div>

      <!-- Product card 2 -->
      <div class="border-2 border-gray-200 bg-white w-full rounded-xl">
        <!-- <img class="h-48 w-full object-cover rounded-t-xl mb-5" src="./assets/demo11.jpeg" alt=""> -->
        <img class="h-48 w-full object-cover rounded-t-xl mb-5" src="./assets/c6.jpg" alt="">
        <h3 class="text-xl font-semibold pl-3">Bean boutique</h3>
        <p class="mt-4 text-gray-600 pl-3">Our most popular blend, featuring beans from a single farm in Ethiopia. Notes of chocolate, berries, and citrus</p>
        <div class="flex items-center justify-between mt-6 mb-5 px-3">
          <span class="font-bold text-lg">$24.99</span>
          <button class="bg-blue-600 text-white py-2 px-4 rounded-full hover:bg-orange-500 transition-colors duration-300">Add to cart</button>
        </div>
      </div>

      <!-- Product card 3 -->
      <div class="border-2 border-gray-200 bg-white w-full rounded-xl">
        <!-- <img class="h-48 w-full object-cover rounded-t-xl mb-5" src="./assets/demo11-2.jpeg" alt=""> -->
        <img class="h-48 w-full object-cover rounded-t-xl mb-5" src="./assets/c3.jpg" alt="">
        <h3 class="text-xl font-semibold pl-3">Aristocrat Cafe</h3>
        <p class="mt-4 text-gray-600 pl-3">Our most popular blend, featuring beans from a single farm in Ethiopia. Notes of chocolate, berries, and citrus</p>
        <div class="flex items-center justify-between mt-6 mb-5 px-3">
          <span class="font-bold text-lg">$18.99</span>
          <button class="bg-blue-600 text-white py-2 px-4 rounded-full hover:bg-orange-500 transition-colors duration-300">Add to cart</button>
        </div>
      </div>

      <!-- Product card 4 -->
      <div class="border-2 border-gray-200 bg-white w-full rounded-xl">
        <!-- <img class="h-48 w-full object-cover rounded-t-xl mb-5" src="./assets/demo11-2.jpeg" alt=""> -->
        <img class="h-48 w-full object-cover rounded-t-xl mb-5" src="./assets/c4.jpg" alt="">
        <h3 class="text-xl font-semibold pl-3">Misty Mornings Coffee</h3>
        <p class="mt-4 text-gray-600 pl-3">Our most popular blend, featuring beans from a single farm in Ethiopia. Notes of chocolate, berries, and citrus</p>
        <div class="flex items-center justify-between mt-6 mb-5 px-3">
          <span class="font-bold text-lg">$21.99</span>
          <button class="bg-blue-600 text-white py-2 px-4 rounded-full hover:bg-orange-500 transition-colors duration-300">Add to cart</button>
        </div>
      </div>

      <!-- Product card 5 -->
      <div class="border-2 border-gray-200 bg-white w-full rounded-xl">
        <!-- <img class="h-48 w-full object-cover rounded-t-xl mb-5" src="./assets/demo11.jpeg" alt=""> -->
        <img class="h-48 w-full object-cover rounded-t-xl mb-5" src="./assets/c2.jpg" alt="">
        <h3 class="text-xl font-semibold pl-3">Elite Espresso</h3>
        <p class="mt-4 text-gray-600 pl-3">Our most popular blend, featuring beans from a single farm in Ethiopia. Notes of chocolate, berries, and citrus</p>
        <div class="flex items-center justify-between mt-6 mb-5 px-3">
          <span class="font-bold text-lg">$12.99</span>
          <button class="bg-blue-600 text-white py-2 px-4 rounded-full hover:bg-orange-500 transition-colors duration-300">Add to cart</button>
        </div>
      </div>

      <!-- Product card 6 -->
      <div class="border-2 border-gray-200 bg-white w-full rounded-xl">
        <!-- <img class="h-48 w-full object-cover rounded-t-xl mb-5" src="./assets/demo11-2.jpeg" alt=""> -->
        <img class="h-48 w-full object-cover rounded-t-xl mb-5" src="./assets/c5.jpg" alt="">
        <h3 class="text-xl font-semibold pl-3">Beanstalk Bistro </h3>
        <p class="mt-4 text-gray-600 pl-3">Our most popular blend, featuring beans from a single farm in Ethiopia. Notes of chocolate, berries, and citrus</p>
        <div class="flex items-center justify-between mt-6 mb-5 px-3">
          <span class="font-bold text-lg">$17.99</span>
          <button class="bg-blue-600 text-white py-2 px-4 rounded-full hover:bg-orange-500 transition-colors duration-300">Add to cart</button>
        </div>
      </div>

    </div>
  </section>

</body>
</html>
