<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <title>demo 11</title>
</head>

<body>
  <section class="flex justify-center items-center w-full h-96 bg-blue-500">
    <div class="flex gap-10  items-center">
      <!-- Information div -->
      <div class=" p-4">
        <h1 class="text-white text-3xl font-semibold mb-2">Discover the world's best coffee</h1>
        <p class="text-white text-sm mb-4">From hand-picked farms to your cup, we source the finest beans and roast them to perfection.</p>
        
        <!-- Shop now button -->
            <button class="bg-white text-indigo-700 rounded-full px-4 py-2 hover:bg-orange-400 hover:text-white">Shop now</button>
      </div>

      <!-- Images div -->
      <div class="">
        <img class="h-72 w-[400px] object-cover rounded-md hover:scale-105" src="./assets/demo11.jpeg" alt="Coffee Image">
      </div>
    </div>
  </section>

  <!-- section 2 start hear -->
  <section class="bg-white w-auto h-screen flex gap-10 items-center justify-center">
    <!-- <div class="">
        <h2 class="text-black font-serif font-bold">Featured Products</h2>
    </div> -->

    <div class="flex">
        <!-- Product card 1 - Starts Here -->
    <div class="border-2 border-gray-200 bg-white w-80  h[200px] rounded-xl">
        <img class="h-48 w-full  object-cover rounded-t-xl mb-5" src="./assets/demo11-2.jpeg" alt="">
        <h3 class="text-xl font-semibold pl-3">Single Origin Blend</h3>
        <p class="mt-4 text-gray-600 pl-3">Our most popular blend, featuring beans from a single farm in Ethiopia. Notes of chocolate, berries, and citrus</p>
        <div class="flex items-center justify-around mt-6 mb-5 ">
            <span class="font-bold text-lg">$14.99</span>
            <!-- button -->
            <button class="bg-blue-600 text-white py-2 px-4 rounded-full hover:bg-orange-500">Add to cart</button>
            </div>
        </div>
    </div>
    <!-- Product card 1 - End Here -->

        <!-- Product card 2 - Starts Here -->
        <div class="border-2 border-gray-200 bg-white w-80  h[200px] rounded-xl">
            <img class="h-48 w-full  object-cover rounded-t-xl mb-5" src="./assets/demo11.jpeg" alt="">
            <h3 class="text-xl font-semibold pl-3">Single Origin Blend</h3>
            <p class="mt-4 text-gray-600 pl-3">Our most popular blend, featuring beans from a single farm in Ethiopia. Notes of chocolate, berries, and citrus</p>
            <div class="flex items-center justify-around mt-6 mb-5 ">
                <span class="font-bold text-lg">$14.99</span>
                <!-- button -->
                <button class="bg-blue-600 text-white py-2 px-4 rounded-full hover:bg-orange-500">Add to cart</button>
                </div>
            </div>
        </div>
        <!-- Product card 2 - End Here -->

            <!-- Product card 3 - Starts Here -->
    <div class="border-2 border-gray-200 bg-white w-80  h[200px] rounded-xl">
        <img class="h-48 w-full  object-cover rounded-t-xl mb-5" src="./assets/demo11-2.jpeg" alt="">
        <h3 class="text-xl font-semibold pl-3">Single Origin Blend</h3>
        <p class="mt-4 text-gray-600 pl-3">Our most popular blend, featuring beans from a single farm in Ethiopia. Notes of chocolate, berries, and citrus</p>
        <div class="flex items-center justify-around mt-6 mb-5 ">
            <span class="font-bold text-lg">$14.99</span>
            <!-- button -->
            <button class="bg-blue-600 text-white py-2 px-4 rounded-full hover:bg-orange-500">Add to cart</button>
            </div>
        </div>
    </div>
    <!-- Product card 3 - End Here -->
    </div>

    <!-- 2nd -->
    
  </section>
</body>

</html>
