<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <title>demo 18</title>
</head>

<body>
  <section class="w-4/5 m-auto">
    <div class="flex justify-between items-center my-8">
      <div class="self-center flex items-center">
        <p class="self-center text-black text-2xl font-bold mr-10">Gallery</p>
        <p class="self-center text-sm text-gray-500">This is a section of some simple filler text, also known as
          placeholder text. It shares some <br> characteristics of a real written text.</p>
      </div>
      <button
        class="border border-solid border-gray-300 rounded-md self-center text-gray-600 text-sm font-semibold px-6 py-2">More</button>
    </div>


    <div class="grid grid-cols-3 grid-rows-2 gap-6">

      <!-- 1st -->
      <div class="brightness-90 h-72 overflow-hidden rounded-md bg-center bg-cover p-3 relative"
        style="background-image: url('./assets/g1.avif');">
        <p class="absolute left-4 bottom-4 text-white">VR</p>
      </div>

      <!-- 2nd -->
      <div class="brightness-90 col-span-2 h-72 overflow-hidden rounded-md bg-center bg-cover p-3 relative"
        style="background-image: url('./assets/g2.avif');">
        <p class="absolute left-4 bottom-4 text-white">Tech</p>
      </div>

      <!-- 3rd -->
      <div class="brightness-90 col-span-2 h-72 overflow-hidden rounded-md bg-center bg-cover p-3 relative"
        style="background-image: url('./assets/g3.avif');">
        <p class="absolute left-4 bottom-4 text-white">Dev</p>
      </div>

      <!-- 4th -->
      <div class="brightness-90 h-72 overflow-hidden rounded-md bg-center bg-cover p-3 relative"
        style="background-image: url('./assets/g4.avif');">
        <p class="absolute left-4 bottom-4 text-white">Retro</p>
      </div>

    </div>

  </section>

  </div>

</body>

</html>