<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <title>google</title>
</head>

<body class="bg-[url('./assets/c2.jpg')]">
<!-- header start hear -->
<header class=" text-white flex justify-between text-sm text-black font-bold">
    <div class="flex items-center gap-5 ml-5">
    <a href="">About</a>
    <a href="">Store</a>
 </div>
 <div class="flex items-center gap-5">
    <a href="">About</a>
    <a href="">Store</a>
    <img class="rounded-full block py-3 px-4 h-14 w-14" src="./assets/virat-profileimg.webp" alt="">
 </div>
</header>
<!-- header end hear -->

<!-- main -->
<div class="flex justify-center h-screen items-center">
    <div class="">
        <img class="w-2/3 ml-auto mr-auto mb-5" src="./assets/google.png" alt="">
        <div class="flex border border-gray-200 rounded-full p-4 shadow text-xl">
            <div class="mr-2">🕵️‍</div>
            <input type="text" class="w-full outline-none px-3  rounded-full">
            <div class="ml-2">🎤</div>
        </div>
    </div>
</div>


<!-- footer -->
<div class=" bg-gray-200 border-t w-full flex justify-between text-gray-600 text-xs ">
    <div class="flex">
        <a class="block p-3">Advertising</a>
        <a class="block p-3">Business</a>
        <a class="block p-3">How Search Works</a>
    </div>
    <div class="flex">
        <a class="block p-3">Privacy</a>
        <a class="block p-3">Terms</a>
        <a class="block p-3">Settings</a>
    </div>
</div>

</body>

</html>