<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./output.css" rel="stylesheet">
</head>

<body>
    <!-- 404 error page start -->
    <div class="bg-gray-100 flex items-center justify-center h-screen">
        <div class="text-center">
            <h1 class="text-6xl font-bold text-gray-800 mb-4">404</h1>
            <p class="text-xl text-gray-600 mb-8">Sorry, we couldn't find this page.</p>
            <a href="#" class="px-4 py-2 bg-purple-600 text-white rounded-md hover:bg-purple-700">Back to home</a>
        </div>
    </div>
    <!-- 404 error page end -->

</body>

</html>